# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
